
    * { 
        margin: 0; padding: 0; 
        }
      html , body { 
        background: url(sw29914.jpg);
        width:100%; 
        height:100%; 
        }
      canvas { 
        display: block; 
        }